# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual environments
.venv/
env/
venv/
miniforge3/
conda_env.yml

# Data (optional: if you want to keep results out)
data/processed/
data/results/

# Exclude the tools folder
surfdock/surface_mesh/tools

#Exclude the esm repo
esm/

# Jupyter checkpoints
.ipynb_checkpoints/

# Logs
*.log